﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model Security.Foundation.Data.Models.Account

@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery.validator.messages.required = "";
            $("#form-login").validate({
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                        ? 'Có 1 lỗi. Hãy nhập đúng thông tin.'
                        : 'Có ' + errors + ' lỗi. Hãy nhập đúng thông tin.';
                        $("#mws-validate-error").html(message).show();
                        $('label.error').hide();
                    } else {
                        $("#mws-validate-error").hide();
                    }
                },
                onkeyup: false,
                messages: {
                    Password: {
                        required: "Password is required."
                    },
                    UserName: {
                        required: "Username is required."
                    }
                }
            });
        });
    </script>
}

 <!-- Login Screen -->
<div class="login-wrapper">
    <h1>System login</h1>
    <form action="/LoginForm/Index" method="post" id="form-login">
        <input type="hidden" name="returnUrl" id="returnUrl" value="@(ViewBag.ReturnURL)" />
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                @Html.TextBoxFor(a => a.UserName, new { @class = "form-control required", placeholder = "Username" })
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                @Html.PasswordFor(a => a.Password, new { @class = "form-control required", placeholder = "Password" })
            </div>
        </div>
        <div class="text-left">
            <label class="checkbox">
                <input type="checkbox" id="chkRememberPass" name="chkRememberPass" value="1" />
                <span>Remember password</span>
            </label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
    </form>

</div>
<!-- End Login Screen -->
