﻿@{
    ViewBag.Title = "AddCPY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript{

    <script type="text/javascript">
        $().ready(function () {
            $("#cbxCourseName").change(function () {
                var selectedText = $(this).find("option:selected").text();
                var selectedValue = $(this).val();
               // alert("Handler for .change() called." + selectedText + "_" + selectedValue);
                var Url = "@Url.Content("~/CoursePerYear/GetYear")";
                $.ajax({
                    url: Url,
                    type: 'POST',
                    dataType: 'json',
                    data: { CourseID: selectedValue },
                    success: function (data) {
                       // alert("Data retrieval successful");
                        $("#cbxYear").empty();
                        $("#cbxYear").append("<option value='0'>--Select Year--</option>");
                        $.each(data, function (index, optiondata) {
                            $("#cbxYear").append("<option value='" + optiondata + "'>" + optiondata+ "</option>");
                        });
                    },

                    error: function (xhr) {
                        alert("Something seems Wrong");
                    }
                });

            });
            //$("#form-fal").validate({
            //    rules: {
            //        ignore: [],

            //        Name: {
            //            required: true,
            //            minlength: 3, maxlength: 250

            //        },

            //    },
            //    messages: {
            //        Name: {
            //            required: "you not fill name",
            //            minlength: "minimum 3 character",
            //            maxlength: "maximum 250 character"

            //        },


            //    }

            //});

        });
    </script>}
@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li class="active">Add New Course Per Year</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>Add New Course Per Year
            </div>
            <div class="widget-content padded">
                <form action="~/CoursePerYear/AddNewCPY" class="mws-form" id="form-fal" method="post" novalidate="novalidate">
                    <input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="ID" name="ID" type="hidden" value="0" />                    <fieldset>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Course Name</label>
                                    <select class="input-large form-control" name="cbxCourseName" id="cbxCourseName">
                                        @*<option value="0">---Select Course---</option>*@
                                        @{ foreach (var a in ViewData["co"] as IEnumerable<BackOffices.Dal.Cours>)
                                         {
                                            <option value="@a.ID">@a.CourseName</option>
                                         }}

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Year</label>
                                    <select class="input-large form-control" name="cbxYear" id="cbxYear">
                                        <option value="0">--Select Year-- </option>
                                        @{ for (int i = 2016; i < 2050; i++)
                                         {
                                            <option value="@i">@i</option>
                                         }}

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>CL</label>
                                    <select class="input-large form-control" name="cbxCL" id="cbxCL">
                                        @{ foreach (var a in ViewData["cl"] as IEnumerable<BackOffices.Dal.Account>)
                                         {
                                            <option value="@a.ID">@a.FullName</option>
                                         }}

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>CM</label>
                                    <select class="input-large form-control" name="cbxCM" id="cbxCM">
                                        @{ foreach (var a in ViewData["cm"] as IEnumerable<BackOffices.Dal.Account>)
                                         {
                                            <option value="@a.ID">@a.FullName</option>
                                         }}

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Status</label>

                                    <select class="input-large form-control" name="stt" id="stt">

                                        <option value="1" selected="selected">Ready</option>
                                        <option value="0">Block</option>

                                    </select>

                                </div>
                                <div class="form-group">
                                    <label></label>
                                    <button class="btn btn-primary" type="submit" style="float:right;">Save</button>


                                </div>

                            </div>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>



