﻿@{
    ViewBag.Title = "SearchCPY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<BackOffices.Models.CPY>
@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li class="active">List of Course Per Year</li>
            </ul>
        </div>
    </div>
}
@section Javascript{

    <script type="text/javascript">
        $().ready(function () {




            $("#search").validate({
                rules: {
                    ignore: [],

                    search_key_news: {
                        required: true,
                        maxlength: 250

                    },

                },
                messages: {
                    search_key_news: {
                        required: "you not fill search key",

                        maxlength: "maximum 250 character"

                    },


                }

            });

        });
    </script>}
<div class="row">
    <!-- Hover Row Table -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-table"></i>List Course Per Year
                <a id="add
                   row" href="@Url.Action("AddNew", "CoursePerYear")" class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-plus"></i>Add Course Per Year</a>
            </div>

            <div class="widget-content padded clearfix">
                <form method="POST" action="~/CoursePerYear/SearchCPY?PageNum=1" id="search">
                    <div class="table-responsive">
                        <div class="dataTables_filter" id="table-pages_filter">
                            <label>

                                @{if (ViewBag.search_key_news != null)
                                {

                                    <input id="search_key_news" name="search_key_news" type="text" value="@ViewBag.search_key_news">
                                }
                                else
                                {
                                    <input id="search_key_news" name="search_key_news" type="text" value="">
                                }
                                }
                            </label>
                            <button type="submit" name="smDang" value="" class="edit-row btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
                @if (Model != null && Model.Count > 0)
                {
                    int num = 5;
                    int pageint = Int32.Parse(Request.Params["PageNum"]);
                    num = num * pageint - 4;

                    <table class="table table-hover" id="table-roles">
                        <thead>
                            <tr>
                                <th><strong>Num</strong></th>
                                <th><strong>CourseCode</strong></th>
                                <th><strong>CourseName</strong></th>
                                <th><strong>Year</strong></th>
                                <th><strong>CL_Name</strong></th>
                                <th><strong>CM_Name</strong></th>
                                <th><strong>Status</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>@num</td>
                                    <td>@item.CPY_Code</td>
                                    <td>@item.CourseName</td>
                                    <td>@item.Year</td>
                                    <td>@item.CL_Name</td>
                                    <td>@item.CM_Name</td>
                                    <td class="hidden-xs">@Html.Raw(item.Status == 0 ? "<span class=\"label label-warning\">Block</span>" : "<span class=\"label label-success\">Ready</span>")</td>

                                    <td style="text-align:right;">
                                        <a class="edit-row btn btn-primary" href="@Url.Action("ManageOC", "OutCome", new { id = item.ID })"><i class=" fa fa-plus"></i>Plan</a>
                                        <a class="edit-row btn btn-primary" href="@Url.Action("GotoUpdate", "CoursePerYear", new { id = item.ID, PageNum = pageint })"><i class=" fa fa-edit"></i>Edit</a>
                                        <a class="delete-row btn btn-danger" href="@Url.Action("DeleteCPY", "CoursePerYear", new { id = item.ID, PageNum = pageint })"><i class="fa fa-trash-o"></i>Delete</a>
                                    </td>
                                </tr>
                                num++;
                            }


                        </tbody>

                    </table>
                }
                <div class="dataTables_paginate paging_full_numbers" id="table-pages_paginate">
                    @{
                        string key = Request.Params["search_key_news"];
                        Nullable<int> current = Int32.Parse(Request.Params["PageNum"]); int j = 0;
                        if (current > 0)
                        {
                            for (int i = 1; i <= Math.Ceiling((double)ViewBag.countSearch / 5); i++)
                            {

                                j = i;
                            }
                            {
                                if (current == 1)
                                { <a tabindex="0" class="first paginate_button paginate_button_disabled" id="table-pages_first" href=@Url.Action("SearchCPY", "CoursePerYear", new { PageNum = 1, search_key_news = ViewBag.search_key_news }) title=""><strong>First</strong></a>

                                <a tabindex="0" class="first paginate_button paginate_button_disabled" id="table-pages_previous" href=@Url.Action("SearchCPY", "CoursePerYear", new { PageNum = current - 1, search_key_news = ViewBag.search_key_news }) title=""><strong>Previous</strong></a>
                                }
                                else
                                {
                                    <a tabindex="0" class="first paginate_button paginate_button_active" id="table-pages_first" href=@Url.Action("SearchCPY", "CoursePerYear", new { PageNum = 1, search_key_news = ViewBag.search_key_news }) title=""><strong>First</strong></a>

                                    <a tabindex="0" class="first paginate_button paginate_button_active" id="table-pages_previous" href=@Url.Action("SearchCPY", "CoursePerYear", new { PageNum = current - 1, search_key_news = ViewBag.search_key_news }) title=""><strong>Previous</strong></a>
                                }
                            }
                            <span><a tabindex="0" class="paginate_active">   @current /@j</a> </span>
                            {
                                if (current == j)
                                { <a tabindex="0" class="next paginate_button paginate_button_disabled" id="table-pages_next" href=@Url.Action("SearchCPY", "CoursePerYear", new { PageNum = current + 1, search_key_news = ViewBag.search_key_news }) title=""><strong>Next</strong></a>
                                <a tabindex="0" class="last paginate_button paginate_button_disabled" id="table-pages_last" href=@Url.Action("SearchCPY", "CoursePerYear", new { PageNum = j, search_key_news = ViewBag.search_key_news }) title=""><strong>Last</strong></a>
                                }
                                else
                                {
                                    <a tabindex="0" class="next paginate_button paginate_button_active" id="table-pages_next" href=@Url.Action("SearchCPY", "CoursePerYear", new { PageNum = current + 1, search_key_news = ViewBag.search_key_news }) title=""><strong>Next</strong></a>
                                    <a tabindex="0" class="last paginate_button paginate_button_active" id="table-pages_last" href=@Url.Action("SearchCPY", "CoursePerYear", new { PageNum = j, search_key_news = ViewBag.search_key_news }) title=""><strong>Last</strong></a>

                                }
                            }
                        }
                    }



                </div>


            </div>


        </div>
    </div>
    <!-- end Hover Row Table --><!-- Responsive Table -->
    <!-- end Responsive Table -->
</div>


