﻿@model IEnumerable<Security.Foundation.Data.WrapModels.WrapMenuPage>
@if (Model != null)
{
    
        <ul class="nav">
            <li>
                <a class="current" href="/">@*<span aria-hidden="true" class="se7en-home"></span>*@Home</a>
            </li>
            @foreach (var item in Model)
            {
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#">
                        @*<span aria-hidden="true" class="se7en-pages"></span>*@@item.MenuName<b class="caret"></b>
                    </a>
                    @if (item.MenuPages != null)
                    {
                        <ul class="dropdown-menu">
                            @foreach (var _itemSub in item.MenuPages)
                            {
                                <li>
                                    <a href="@(_itemSub.PageURL)"><p>@_itemSub.PageName</p></a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    
}