﻿@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript{

    <script type="text/javascript">
        $().ready(function () {




            $("#form-fal").validate({
                rules: {
                    ignore: [],

                    Name: {
                        required: true,
                        minlength: 3, maxlength: 250

                    },
                    Code:{
                        required: true,
                        minlength: 3, maxlength: 20

                    },

                },
                messages: {
                    Name: {
                        required: "you not fill name",
                        minlength: "minimum 3 character",
                        maxlength: "maximum 250 character"

                    },
                    Code: {
                        required: "you not fill code",
                        minlength: "minimum 3 character",
                        maxlength: "maximum 20 character"

                    },

                }

            });

        });
    </script>}
@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li class="active">Add new Course</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>Add new Course
            </div>
            <div class="widget-content padded">
                <form action="~/Course/AddNewCo" class="mws-form" id="form-fal" method="post" novalidate="novalidate">
                    <input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="ID" name="ID" type="hidden" value="0" />                    <fieldset>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Course Name</label>
                                    <input class="form-control required" id="Name" name="Name" type="text" value="" />
                                </div>
                                <div class="form-group">
                                    <label>Course Code</label>
                                    <input class="form-control required" id="Code" name="Code" type="text" value="" />
                                </div>
                                <div class="form-group">
                                    <label>Course Status</label>

                                    <select class="input-large form-control" name="stt" id="stt">

                                        <option value="1" selected="selected">Ready</option>
                                        <option value="0">Block</option>

                                    </select>

                                </div>
                                    <div class="form-group">
                                        <label>Faculty</label>
                                        <select class="input-large form-control" name="combobox" id="combobox">
                                            @{ foreach (var a in ViewData["a"] as IEnumerable<BackOffices.Dal.Faculty>)
                                             {
                                                <option value="@a.ID">@a.FaName</option>
                                             }}

                                        </select>

                                        @*@Html.DropDownList("ID", (IEnumerable<SelectListItem>)ViewData["List"], new { id = "ID" })*@
                                    </div>

                                    <div class="form-group">
                                        <label></label>
                                        <button class="btn btn-primary" type="submit" style="float:right;">Save</button>


                                    </div>

                               
                            </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

