﻿@{
    ViewBag.Title = "AddStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript{
    <script type="text/javascript">

        $(document).ready(function () {
            jQuery.validator.messages.required = "";
            $("#form-fal").validate({
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                        ? 'Có 1 lỗi. Hãy nhập đúng thông tin.'
                        : 'Có ' + errors + ' lỗi. Hãy nhập đúng thông tin.';
                        $("#mws-validate-error").html(message).show();
                        $('label.error').hide();
                    } else {
                        $("#mws-validate-error").hide();
                    }
                },
                onkeyup: false,
                messages: {
                    Name: {
                        required: "Student name is required.",

                    },
                    Dob: {
                        required: "Date of birth is required !."
                    },
                    Phoneno: {
                        required: "PhoneNumber is required."
                    },
                    Address: {
                        required: "Address is required."
                    },
                    Email: {
                        required: "Email is reuired.",
                        email: "Email is not correct."
                    }

                }
            });


            $(function () {
                $('#Dob').datepicker();
            });



        });


    </script>
}

@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li><a href="/Account">List of Student</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>Add new Student
            </div>
            <div class="widget-content padded">
                <form action="~/Student/AddStudent" class="mws-form" id="form-fal" method="post" novalidate="novalidate">
                    <input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="ID" name="ID" type="hidden" value="0" />                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>StudentName</label>
                                    <input class="form-control required" id="Name" name="Name" maxlength="40" type="text" value="" />
                                </div>
                                <div class="form-group">
                                    <label>Date Of Birth</label>
                                    <input class="form-control required" id="Dob" name="Dob" type="datetime" value="" />
                                </div>

                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input class="form-control required" id="Phoneno" name="Phoneno" maxlength="15" type="text" value="" />
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <input class="form-control required" id="Address" name="Address" maxlength="60" type="text" value="" />
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control required email" id="Email" name="Email" maxlength="60" type="text" value="" />
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="input-large form-control" name="Status" id="Status">

                                        <option value="1">Ready</option>
                                        <option value="0">Block</option>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label></label>
                                    <button class="btn btn-primary" type="submit" style="float:right;">Save</button>


                                </div>

                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

