﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Javascript{
   <script type="text/javascript">
    $().ready(function () {




        $("#search").validate({
            rules: {
                ignore: [],

                search_key_news: {
                    required: true,
                    maxlength: 250

                },

            },
            messages: {
                search_key_news: {
                    required: "you not fill search key",

                    maxlength: "maximum 250 character"

                },


            }

        });

    });
</script>
}
@model List<BackOffices.Models.Students>
@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li class="active">List of Student</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <!-- Hover Row Table -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-table"></i>List Student
                <a id="add-row" href="@Url.Action("GoToAdd", "Student")" class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-plus"></i>Add Student</a>
            </div>

            <div class="widget-content padded clearfix">
                <form method="POST" action="~/Student/SearchStudent?PageNum=1" id="search">
                    <div class="table-responsive">
                        <div class="dataTables_filter" id="table-pages_filter">
                            <label>

                                @{if (ViewBag.search_key_news != null)
                                {

                                    <input id="search_key_news" name="search_key_news" type="text" value="@ViewBag.search_key_news">
                                }
                                else
                                {
                                    <input id="search_key_news" name="search_key_news" type="text" value="">
                                }
                                }
                            </label>
                            <button type="submit" name="smDang" value="" class="edit-row btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
                @if (Model != null)
                {
                    int num = 5;
                    int pageint = Int32.Parse(Request.Params["PageNum"]);
                    num = num * pageint - 4;
                    <div class="table-responsive">
                        <table class="table table-hover" id="table-roles">
                            <thead>
                                <tr>
                                    <th><strong>Num</strong></th>
                                    <th><strong>Studentname</strong></th>
                                    <th><strong>DOB</strong></th>
                                    <th><strong>Address</strong></th>
                                    <th><strong>Email</strong></th>
                                    <th><strong>Phone_No</strong></th>
                                    <th><strong>Status</strong></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@num</td>
                                        <td>@item.StudentName</td>
                                        <td>@item.DOB</td>
                                        <td>@item.Address</td>
                                        <td>@item.Email</td>
                                        <td>@item.Phone_No</td>
                                        <td class="hidden-xs">@Html.Raw(item.Status == 0 ? "<span class=\"label label-warning\">Block</span>" : "<span class=\"label label-success\">Ready</span>")</td>

                                        <td style="text-align:right;">
                                            <a class="edit-row btn btn-primary" href="@Url.Action("Manage_CPY_Student", "CPY_Student", new { id = item.Student_ID, PageNum = pageint })"><i class=" fa fa-plus"></i>View</a>
                                             <a class="edit-row btn btn-primary" href="@Url.Action("EditStudent", "Student", new {id=item.Student_ID })"><i class=" fa fa-edit"></i>Edit</a>
                                            <a class="delete-row btn btn-danger" href="@Url.Action("DeleteStudent", "Student", new { id = item.Student_ID })"><i class="fa fa-trash-o"></i>Delete</a>
                                        </td>
                                    </tr>
                                    num++;
                                }


                            </tbody>

                        </table>
                    </div>
                }
                <div class="dataTables_paginate paging_full_numbers" id="table-pages_paginate">
                    @{

                        Nullable<int> current = Int32.Parse(Request.Params["PageNum"]);// current là lấy trang hiện tại
                        int j = 0;
                        if (current > 0)
                        {
                            for (int i = 1; i <= Math.Ceiling((double)ViewBag.countnewsall / 5); i++)
                            {

                                j = i;//j laf tổn số trang
                            }
                            {
                                if (current == 1)
                                { <a tabindex="0" class="first paginate_button paginate_button_disabled" id="table-pages_first" href=@Url.Action("ManageStudentList", "Student", new { PageNum = 1 }) title=""><strong>First</strong></a>

                                <a tabindex="0" class="first paginate_button paginate_button_disabled" id="table-pages_previous" href=@Url.Action("ManageStudentList", "Student", new { PageNum = current - 1 }) title=""><strong>Previous</strong></a>
                                }
                                else
                                {
                                    <a tabindex="0" class="first paginate_button paginate_button_active" id="table-pages_first" href=@Url.Action("ManageStudentList", "Student", new { PageNum = 1 }) title=""><strong>First</strong></a>

                                    <a tabindex="0" class="first paginate_button paginate_button_active" id="table-pages_previous" href=@Url.Action("ManageStudentList", "Student", new { PageNum = current - 1 }) title=""><strong>Previous</strong></a>
                                }
                            }
                            <span><a tabindex="0" class="paginate_active">   @current /@j</a> </span>
                            {
                                if (current == j)
                                { <a tabindex="0" class="next paginate_button paginate_button_disabled" id="table-pages_next" href=@Url.Action("ManageStudentList", "Student", new { PageNum = current + 1 }) title=""><strong>Next</strong></a>
                                <a tabindex="0" class="last paginate_button paginate_button_disabled" id="table-pages_last" href=@Url.Action("ManageStudentList", "Student", new { PageNum = j }) title=""><strong>Last</strong></a>
                                }
                                else
                                {
                                    <a tabindex="0" class="next paginate_button paginate_button_active" id="table-pages_next" href=@Url.Action("ManageStudentList", "Student", new { PageNum = current + 1 }) title=""><strong>Next</strong></a>
                                    <a tabindex="0" class="last paginate_button paginate_button_active" id="table-pages_last" href=@Url.Action("ManageStudentList", "Student", new { PageNum = j }) title=""><strong>Last</strong></a>

                                }
                            }
                        }
                    }



                </div>

                <div class="dataTables_paginate paging_full_numbers" id="table-pages_paginate">


                </div>
            </div>


        </div>
    </div>
    <!-- end Hover Row Table --><!-- Responsive Table -->
    <!-- end Responsive Table -->
</div>
