﻿@model Security.Foundation.Data.Models.Page
@{

    if (Model.ID > 0)
    {
        ViewBag.Title = "EDIT PAGE";
    }
    else
    {

        ViewBag.Title = "ADD PAGE";
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript{
    <script type="text/javascript">

        $(document).ready(function () {
            jQuery.validator.messages.required = "";
            $("#form-page").validate({
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                        ? '1 error. Input correct info.'
                        : '' + errors + ' errors. Input correct info.';
                        $("#mws-validate-error").html(message).show();
                        $('label.error').hide();
                    } else {
                        $("#mws-validate-error").hide();
                    }
                },
                onkeyup: false,
                messages: {
                    PageName: {
                        required: "Page Name do not empty."
                    },
                    PageURL: {
                        required: "URL Page do not empty."
                    }
                }
            });

       


        });


    </script>
}

@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li><a href="/Page">PAGES</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>@ViewBag.Title
            </div>
            <div class="widget-content padded">
                @using (Html.BeginForm("Edit", "Page", FormMethod.Post, new { @class = "mws-form", id = "form-page", novalidate = "novalidate" }))
                {
                    @Html.HiddenFor(p => p.ID)
                    @Html.HiddenFor(p => p.ParentPageID)
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>PAGE NAME</label>
                                    @Html.TextBoxFor(p => p.PageName, new { @class = "form-control required" })
                                </div>
                                <div class="form-group">
                                    <label>URL PAGE</label>
                                    @Html.TextBoxFor(p => p.PageURL, new { @class = "form-control required" })
                                </div>
                                <div class="form-group">
                                    <label>BELONG PAGE</label>
                                    <select id="slPage" name="slPage" class="select2able">
                                        <option value="0">---------------- PARENT PAGE -----------------</option>
                                        @if (ViewBag.ParentPages != null)
                                        {
                                            foreach (var item in ViewBag.ParentPages)
                                            {
                                                <option value="@item.ID" @(Model.ParentPageID == item.ID ? "selected" : "")>@item.PageName</option>
                                            }
                                        }

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>MENU</label>
                                    <select class="select2able" multiple="" name="tagmenu_selected">
                                        @if (ViewBag.Menus != null)
                                        {
                                            if (ViewBag.MenuPages != null)
                                            {
                                                foreach (var item in ViewBag.Menus)
                                                {
                                                    <option value="@item.ID" @(((List<Security.Foundation.Data.Models.MenuPage>)ViewBag.MenuPages).FirstOrDefault(ac => ac.MenuName == item.MenuName) != null ? "selected" : "")>@item.MenuName</option>
                                                }
                                            }
                                            else
                                            {
                                                foreach (var item in ViewBag.Menus)
                                                {
                                                    <option value="@item.ID">@item.MenuName</option>
                                                }
                                            }


                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>ROLES</label>
                                    <select class="select2able" multiple="" name="tagrole_selected">
                                        @if (ViewBag.Roles != null)
                                        {
                                            if (ViewBag.PageRoles != null)
                                            {
                                                foreach (var item in ViewBag.Roles)
                                                {
                                                    <option value="@item.ID|@item.RoleName" @(((List<Security.Foundation.Data.Models.PageRole>)ViewBag.PageRoles).FirstOrDefault(ac => ac.RoleName == item.RoleName) != null ? "selected" : "")>@item.RoleName</option>
                                                }
                                            }
                                            else
                                            {
                                                foreach (var item in ViewBag.Roles)
                                                {
                                                    <option value="@item.ID|@item.RoleName">@item.RoleName</option>
                                                }
                                            }


                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label></label>
                                    <button class="btn btn-primary" type="submit" style="float:right;">SUBMIT</button>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                }

            </div>
        </div>
    </div>
</div>
