﻿@{
    ViewBag.Title = "Page list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Security.Foundation.Data.WrapModels.WrapPage>

@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li class="active">Page list</li>
            </ul>
        </div>
    </div>
}

@section Javascript{
    <script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        
    


    $(document).ready(function () {

            var oTable = $("#table-pages").dataTable({
                "sPaginationType": "full_numbers",
                "iDisplayLength": 25,
                aoColumnDefs: [
                  {
                      bSortable: true,
                      aTargets: [-2, -1]
                  }
                ],
                "oLanguage": {
                    "sSearch": "Search:",
                    "sLengthMenu": "Show _MENU_ result",
                    "sInfoEmpty": "Show 0 to 0 of 0 result",
                    "sInfo": "Show _START_ to _END_ of _TOTAL_ result",
                    "oPaginate": {
                        "sFirst": "First",
                        "sLast": "Last",
                        "sNext": "Next",
                        "sPrevious": "Previous"

                    }
                }
            });
            var nEditing = null;
            oTable.fnSort([[1, 'asc']]);

     




            $('#table-pages').on('click', 'a.delete-row', function (e) {
                e.preventDefault();

                var nRow = $(this).parents('tr')[0];

                if (confirm("Are you want to delete?") == true) {
                    var jqTds = $('>td', nRow);
                    var pageid = $(jqTds[1]).attr('pageid');

                    
                    $.post('/Page/Delete', {
                        pageid: pageid
                    }, function (data) {
                        if (parseInt(data) > 0) {

                            alert(data);
                        }
                        else {
                            alert(data);
                        }
                    });

                    oTable.fnDeleteRow(nRow);
                }



            });

         




        });
    </script>
}

<div class="row">
    <!-- Hover Row Table -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-table"></i>Page list
                <a id="add-row" href="/Page/Add" class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-plus"></i>Add page</a>
            </div>
            <div class="widget-content padded clearfix">
                @if (Model != null)
                {
                    int count = 0;
                    <div class="table-responsive">
                        <table class="table table-hover" id="table-pages">
                            <thead>
                                <tr>
                                    <th class="check-header hidden-xs"><label><input id="checkAll" name="checkAll" type="checkbox"><span></span></label></th>
                                    <th><strong>Page name</strong></th>
                                    <th class="hidden-xs"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="check hidden-xs">
                                            <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
                                        </td>
                                        <td pageid="@(item.Page.ID)">@item.Page.PageName</td>
                                        <td style="text-align:right;">
                                            <div class="btn-group">
                                                <button @(item.SubPages.Count() > 0 ? "" : "disabled") data-toggle="dropdown" class="btn btn-warning dropdown-toggle"><i class="fa fa-bars"></i><span class="caret"></span></button>
                                                <ul class="dropdown-menu" style="text-align:left;">
                                                    @foreach (var _page in item.SubPages)
                                                    {
                                                        <li>
                                                            <a href="/Page/Edit?PageID=@(_page.ID)"><i class="fa fa-file-o"></i>@_page.PageName</a>
                                                        </li>
                                                    }


                                                </ul>
                                            </div>
                                            <a class="edit-row btn btn-primary" href="/Page/Edit?PageID=@(item.Page.ID)"><i class="fa fa-edit"></i>Edit</a>
                                            <a class="delete-row btn btn-danger" href=""><i class="fa fa-trash-o"></i>Delete</a>
                                        </td>
                                    </tr>
                                                    count++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- end Hover Row Table --><!-- Responsive Table -->
    <!-- end Responsive Table -->
</div>