﻿@model Security.Foundation.Data.Models.Account
@{

    if (Model.ID == 0)
    {
        ViewBag.Title = "Thông tin cá nhân";
    }
    else
    {
        ViewBag.Title = "Thông tin cá nhân";
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript{
    <script type="text/javascript">

        $(document).ready(function () {
            jQuery.validator.messages.required = "";
            $("#form-account").validate({
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                        ? 'Có 1 lỗi. Hãy nhập đúng thông tin.'
                        : 'Có ' + errors + ' lỗi. Hãy nhập đúng thông tin.';
                        $("#mws-validate-error").html(message).show();
                        $('label.error').hide();
                    } else {
                        $("#mws-validate-error").hide();
                    }
                },
                onkeyup: false,
                messages: {
                    FullName: {
                        required: "Họ tên đầy đủ không được bỏ trống."
                    },
                    Email: {
                        required: "Email không được bỏ trống.",
                        email: "Email không đúng."
                    }
                }
            });






        });


    </script>
}

@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>@ViewBag.Title
            </div>
            <div class="widget-content padded">
                @using (Html.BeginForm("AccountInfo", "Account", FormMethod.Post, new { @class = "mws-form", id = "form-account", novalidate = "novalidate" }))
                {
                    @Html.HiddenFor(a => a.ID);
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Họ tên đầy đủ</label>
                                    @Html.TextBoxFor(a => a.FullName, new { @class = "form-control required" })
                                </div>
                                <div class="form-group">
                                    <label>Tên đăng nhập</label>
                                    @Html.TextBoxFor(a => a.UserName, new { @class = "form-control required", disabled = "disabled" })
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control required email" })
                                </div>
                                <div class="form-group">
                                    <label>Thuộc nhóm</label>
                                    <select class="select2able" multiple="" name="roletag" disabled>
                                        @if (ViewBag.Roles != null)
                                        {
                                            if (ViewBag.AccountRoles != null)
                                            {
                                                foreach (var item in ViewBag.Roles)
                                                {
                                                    <option value="@item.ID|@item.RoleName" @(((List<Security.Foundation.Data.Models.AccountRole>)ViewBag.AccountRoles).FirstOrDefault(ac => ac.RoleName == item.RoleName) != null ? "selected" : "")>@item.RoleName</option>
                                                }
                                            }
                                            else
                                            {
                                                foreach (var item in ViewBag.Roles)
                                                {
                                                    <option value="@item.ID|@item.RoleName">@item.RoleName</option>
                                                }
                                            }


                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label></label>
                                    <button class="btn btn-primary" type="submit" style="float:right;">Thay đổi</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }

            </div>
        </div>
    </div>
</div>
