﻿@model Security.Foundation.Data.Models.Account
@{

    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript{
    <script type="text/javascript">

        $(document).ready(function () {
            jQuery.validator.messages.required = "";
            $("#form-account").validate({
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                        ? 'Có 1 lỗi. Hãy nhập đúng thông tin.'
                        : 'Có ' + errors + ' lỗi. Hãy nhập đúng thông tin.';
                        $("#mws-validate-error").html(message).show();
                        $('label.error').hide();
                    } else {
                        $("#mws-validate-error").hide();
                    }
                },
                onkeyup: false,
                messages: {
                    ConfirmPassword: {
                        required: "Nhắc lại mật khẩu mới không được bỏ trống.",
                        equalTo: "Mật khẩu và nhắc lại mật khẩu mới không giống nhau."
                    },
                    Password: {
                        required: "Mật khẩu mới không được bỏ trống."
                    }
                }
            });






        });


    </script>
}

@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>@ViewBag.Title
            </div>
            <div class="widget-content padded">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "mws-form", id = "form-account", novalidate = "novalidate" }))
                {
                    @Html.HiddenFor(a => a.ID);
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Mật khẩu mới</label>
                                    @Html.PasswordFor(a => a.Password, new { @class = "form-control required" })
                                </div>
                                <div class="form-group">
                                    <label>Nhắc lại mật khẩu mới</label>
                                    <input id="ConfirmPassword" class="form-control required"
                                           equalto="#Password" maxlength="40" name="ConfirmPassword" type="password" />
                                </div>
                                <div class="form-group">
                                    <label></label>
                                    <button class="btn btn-primary" type="submit" style="float:right;">Thay đổi mật khẩu</button>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                }

            </div>
        </div>
    </div>
</div>