﻿@model Security.Foundation.Data.Models.Account
@{

    if (Model.ID == 0)
    {
        ViewBag.Title = "ADD MEMBER";
    }
    else
    {
        ViewBag.Title = "EDIT MEMBER";
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript{
    <script type="text/javascript">

        $(document).ready(function () {
            jQuery.validator.messages.required = "";
            $("#form-account").validate({
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                        ? '1 error. Input correct information.'
                        : ' ' + errors + ' error. Input correct information.';
                        $("#mws-validate-error").html(message).show();
                        $('label.error').hide();
                    } else {
                        $("#mws-validate-error").hide();
                    }
                },
                onkeyup: false,
                messages: {
                    ConfirmPassword: {
                        required: "Confirm-password not empty.",
                        equalTo: "Password & confirm-password not equals."
                    },
                    Password: {
                        required: "Password not empty."
                    },
                    UserName: {
                        required: "UserName not empty."
                    },
                    FullName: {
                        required: "Fullname not empty."
                    },
                    Email: {
                        required: "Email not empty.",
                        email: "Email not correct format."
                    }

                }
            });

       




        });


    </script>
}

@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li><a href="/Account">ACCOUNTS</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>@ViewBag.Title
            </div>
            <div class="widget-content padded">
                @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "mws-form", id = "form-account", novalidate = "novalidate" }))
                {
                    @Html.HiddenFor(a => a.ID);
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>FULLNAME</label>
                                    @Html.TextBoxFor(a => a.FullName, new { @class = "form-control required" })
                                </div>
                                <div class="form-group">
                                    <label>USERNAME</label>
                                    @Html.TextBoxFor(a => a.UserName, new { @class = "form-control required" })
                                </div>
                                <div class="form-group">
                                    <label>PASSWORD</label>
                                    @Html.PasswordFor(a => a.Password, new { @class = Model.ID == 0 ? "form-control required" : "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>CONFIRM PASSWORD</label>
                                    <input id="ConfirmPassword" class="form-control @(Model.ID == 0?"required":"")"
                                           equalto="#Password" maxlength="40" name="ConfirmPassword" type="password" />
                                </div>
                                <div class="form-group">
                                    <label>EMAIL</label>
                                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control required email" })
                                </div>
                                <div class="form-group">
                                    <label>ROLES</label>
                                    <select class="select2able" multiple="" name="roletag">
                                        @if (ViewBag.Roles != null)
                                        {
                                            if (ViewBag.AccountRoles != null)
                                            {
                                                foreach (var item in ViewBag.Roles)
                                                {
                                                    <option value="@item.ID|@item.RoleName" @(((List<Security.Foundation.Data.Models.AccountRole>)ViewBag.AccountRoles).FirstOrDefault(ac => ac.RoleName == item.RoleName) != null ? "selected" : "")>@item.RoleName</option>
                                                }
                                            }
                                            else
                                            {
                                                foreach (var item in ViewBag.Roles)
                                                {
                                                    <option value="@item.ID|@item.RoleName">@item.RoleName</option>
                                                }
                                            }


                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label></label>
                                    <label class="checkbox-inline"><input value="1" type="checkbox" name="Locked" @(Model.Locked == true ? "checked" : "")><span>LOCKS</span></label>
                                </div>
                                <div class="form-group">
                                    <label></label>
                                    <label class="checkbox-inline"><input value="1" type="checkbox" name="SupperAdmin" @(Model.SupperAdmin == true ? "checked" : "")><span>SUPPER ADMIN</span></label>
                                </div>
                                <div class="form-group">
                                    <label></label>
                                    <button class="btn btn-primary" type="submit" style="float:right;">SUBMIT</button>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                }

            </div>
        </div>
    </div>
</div>