﻿@model IEnumerable<Security.Foundation.Data.Models.Account>
@{
    ViewBag.Title = "Account list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li class="active">Account list</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <!-- Hover Row Table -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-table"></i>Account list
                <a id="add-row" href="/Account/Add" class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-plus"></i>Add account</a>
            </div>
            <div class="widget-content padded clearfix">
                @if (Model != null)
                {
                    int count = 0;
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="check-header hidden-xs"><label><input id="checkAll" name="checkAll" type="checkbox"><span></span></label></th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Date join</th>
                                    <th class="hidden-xs">Status</th>
                                    <th class="hidden-xs"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="check hidden-xs">
                                            <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
                                        </td>
                                        <td>@item.UserName</td>
                                        <td>@item.Email</td>
                                        <td>@item.CreatedDate</td>
                                        <td class="hidden-xs">@Html.Raw(item.Locked == true ? "<span class=\"label label-warning\">Inactive</span>" : "<span class=\"label label-success\">Active</span>")</td>
                                        <td>
                                            <a href="/Account/Edit?accountid=@(item.ID)" class="btn btn-primary">Edit & Authorize</a>

                                        </td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- end Hover Row Table --><!-- Responsive Table -->
    <!-- end Responsive Table -->
</div>
