﻿@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Security.Foundation.Data.WrapModels.WrapMenu>

@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li class="active">Menu list</li>
            </ul>
        </div>
    </div>
}

@section Javascript{
    <script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        function restoreRow(oTable, nRow) {
            var aData = oTable.fnGetData(nRow);
            var jqTds = $('>td', nRow);

            for (var i = 0, iLen = jqTds.length ; i < iLen ; i++) {
                oTable.fnUpdate(aData[i], nRow, i, false);
            }

            oTable.fnDraw();
        }





        function editRow(oTable, nRow) {
            var aData = oTable.fnGetData(nRow);
            var jqTds = $('>td', nRow);

            jqTds[1].innerHTML = '<input type="text" class=\"form-control\" value="' + aData[1] + '">';
            jqTds[2].innerHTML = '<a class="edit-row btn btn-primary" href="javascript:void(0)">Save</a>';
        }

        function saveRow(oTable, nRow) {
            var jqInputs = $('input', nRow);
            oTable.fnUpdate(jqInputs[1].value, nRow, 1, false);
            var jqTds = $('>td', nRow);

            var menuid = $(jqTds[1]).attr('menuid');

            if (parseInt(menuid) > 0) {

                $.post('/Menu/Edit', {
                    menuid: parseInt(menuid),
                    menuname: jqInputs[1].value
                }, function (data) {

                    alert(data);

                });

            }
            else {
                $.post('/Menu/Add', {
                    menuname: jqInputs[1].value
                }, function (data) {
                    if (parseInt(data) > 0) {
                        $(jqTds[1]).attr('menuid', data);
                        alert("Add successfully");
                    }
                    else {
                        alert(data);
                    }



                });
            }

            oTable.fnUpdate('<a class="edit-row btn btn-primary" href="javascript:void(0)"><i class="fa fa-edit"></i>Edit</a><a class="delete-row btn btn-danger" href="javascript:void(0)"><i class="fa fa-trash-o"></i>Delete</a>', nRow, 2, false);
            oTable.fnDraw();


        }


        $(document).ready(function () {
            var oTable = $("#table-menus").dataTable({
                "sPaginationType": "full_numbers",
                "iDisplayLength": 50,
                aoColumnDefs: [
                  {
                      bSortable: true,
                      aTargets: [-2, -1]
                  }
                ],
                "oLanguage": {
                    "sSearch": "Search:",
                    "sLengthMenu": "Show _MENU_ result",
                    "sInfoEmpty": "Show 0 to 0 of 0 result",
                    "sInfo": "Show _START_ to _END_ of _TOTAL_ result",
                    "oPaginate": {
                        "sFirst": "First",
                        "sLast": "Last",
                        "sNext": "Next",
                        "sPrevious": "Previous"

                    }
                }
            });
            var nEditing = null;
            oTable.fnSort([[1, 'asc']]);

            $('#add-row').click(function (e) {
                e.preventDefault();

                var aiNew = oTable.fnAddData(['<label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>', '',
                  '<a class="edit-row btn btn-primary" href="javascript:void(0)"><i class="fa fa-edit"></i>Edit</a>', '<a class="delete-row btn btn-danger" href="javascript:void(0)"><i class="fa fa-trash-o"></i>Delete</a>']);
                var nRow = oTable.fnGetNodes(aiNew[0]);
                editRow(oTable, nRow);
                nEditing = nRow;
            });




            $('#table-menus').on('click', 'a.delete-row', function (e) {
                e.preventDefault();

                var nRow = $(this).parents('tr')[0];

                if (confirm("Are you want to delete?") == true) {
                    var jqTds = $('>td', nRow);
                    var menuid = $(jqTds[1]).attr('menuid');
                    $.post('/Menu/Delete', {
                        menuid: menuid
                    }, function (data) {
                        if (parseInt(data) > 0) {

                            alert(data);
                        }
                        else {
                            alert(data);
                        }



                    });

                    oTable.fnDeleteRow(nRow);
                }



            });

            $('#table-menus').on('click', 'a.edit-row', function (e) {
                e.preventDefault();

                /* Get the row as a parent of the link that was clicked on */
                var nRow = $(this).parents('tr')[0];

                if (nEditing !== null && nEditing != nRow) {
                    /* Currently editing - but not this row - restore the old before continuing to edit mode */
                    restoreRow(oTable, nEditing);
                    editRow(oTable, nRow);
                    nEditing = nRow;
                }
                else if (nEditing == nRow && this.innerHTML == "Save") {
                    /* Editing this row and want to save it */
                    saveRow(oTable, nEditing);
                    nEditing = null;
                }
                else {
                    /* No edit in progress - let's start one */
                    editRow(oTable, nRow);
                    nEditing = nRow;
                }
            });




        });
    </script>
}
<div class="row">
    <!-- Hover Row Table -->
    <div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-table"></i>Menu list
                <a id="add-row" href="#" class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-plus"></i>Add menu</a>
            </div>
            <div class="widget-content padded clearfix">
                @if (Model != null)
                {
                    int count = 0;

                    <table class="table table-hover" id="table-menus">
                        <thead>
                            <tr>
                                <th class="check-header hidden-xs"><label><input id="checkAll" name="checkAll" type="checkbox"><span></span></label></th>
                                <th><strong>Menu name</strong></th>
                                <th class="hidden-xs"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="check hidden-xs">
                                        <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
                                    </td>
                                    <td menuid="@(item.Menu.ID)">@item.Menu.MenuName</td>
                                    <td style="text-align:right;">
                                        <div class="btn-group">
                                            <button @(item.Pages.Count() > 0 ? "" : "disabled") data-toggle="dropdown" class="btn btn-warning dropdown-toggle"><i class="fa fa-bars"></i><span class="caret"></span></button>
                                            <ul class="dropdown-menu" style="text-align:left;">
                                                @foreach (var _page in item.Pages)
                                                {
                                                    <li>
                                                        <a href="@(_page.PageURL)"><i class="fa fa-file-o"></i>@_page.PageName</a>
                                                    </li>
                                                }


                                            </ul>
                                        </div>
                                        <a class="edit-row btn btn-primary" href=""><i class="fa fa-edit"></i>Edit</a>
                                        <a class="delete-row btn btn-danger" href=""><i class="fa fa-trash-o"></i>Delete</a>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
    <!-- end Hover Row Table --><!-- Responsive Table -->
    <!-- end Responsive Table -->
</div>
