@font-face {
  font-family: 'se7en';
  src:url("../fonts/se7en.eot");
  src:url("../fonts/se7en.eot?#iefix") format('embedded-opentype'),
    url("../fonts/se7en.woff") format('woff'),
    url("../fonts/se7en.ttf") format('truetype'),
    url("../fonts/se7en.svg#se7en") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'se7en';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="se7en-"] {
*/
.se7en-home, .se7en-feed, .se7en-star, .se7en-forms, .se7en-tables, .se7en-charts, .se7en-pages, .se7en-gallery, .se7en-flag, .se7en-envelope, .se7en-gear {
  font-family: 'se7en';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.se7en-home:before {
  content: "\e006";
}
.se7en-feed:before {
  content: "\e002";
}
.se7en-star:before {
  content: "\e003";
}
.se7en-forms:before {
  content: "\e004";
}
.se7en-tables:before {
  content: "\e00a";
}
.se7en-charts:before {
  content: "\e007";
}
.se7en-pages:before {
  content: "\e008";
}
.se7en-gallery:before {
  content: "\e009";
}
.se7en-flag:before {
  content: "\e000";
}
.se7en-envelope:before {
  content: "\e005";
}
.se7en-gear:before {
  content: "\e001";
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
  font-family: 'se7en';
  src: url("../fonts/se7en.svg#se7en") format('svg');
  }
}
