﻿@{
    ViewBag.Title = "AddNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript{

    <script type="text/javascript">
        $().ready(function () {




            $("#form-fal").validate({
                rules: {
                    ignore: [],

                    Name: {
                        required: true,
                        minlength: 3, maxlength: 250

                    },

                },
                messages: {
                    Name: {
                        required: "you not fill name",
                        minlength: "minimum 3 character",
                        maxlength: "maximum 250 character"

                    },


                }

            });

        });
    </script>}
@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li class="active">Add new faculty</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>Add new faculty
            </div>
            <div class="widget-content padded">
                <form action="~/faculty/AddNewFa" class="mws-form" id="form-fal" method="post" novalidate="novalidate">
                    <input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="ID" name="ID" type="hidden" value="0" />                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control required" id="Name" name="Name" type="text" value="" />
                                </div>

                                <div class="form-group">
                                    <label>DLT</label>
                                    <select class="input-large form-control" name="combobox" id="combobox">
                                        @{ foreach (var a in ViewData["a"] as IEnumerable<BackOffices.Dal.AccountRole>)
                                         {
                                            <option value="@a.ID">@a.AccountName</option>
                                         }}

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label></label>
                                    <button class="btn btn-primary" type="submit" style="float:right;">Save</button>


                                </div>

                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
