﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BackOffices.Dal.OutCome
@section Javascript{

    <script type="text/javascript">
        $().ready(function () {




            $("#form-fal").validate({
                rules: {
                    ignore: [],

                    Name: {
                        required: true,
                        minlength: 3, maxlength: 50

                    },
                    Percent: {
                        required: true,
                        number: true
                    }
                },
                messages: {
                    Name: {
                        required: "you not fill name",
                        minlength: "minimum 3 character",
                        maxlength: "maximum 250 character"

                    },
                    Percent: {
                        required: "you not fill name",
                        number: "please fill number"

                    },

                }

            });

        });
    </script>}
@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li class="active">Edit Test</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>Edit Test
            </div>
            <div class="widget-content padded">
                <form action="~/OutCome/EditOC" class="mws-form" id="form-fal" method="post" novalidate="novalidate">
                    <input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="ID" name="ID" type="hidden" value="0" />                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="hidden" name="idfa" id="idfa" value="@Model.ID">
                                    <input class="form-control required" id="Name" name="Name" type="text" value="@Model.OutcomeName" />
                                </div>

                                <div class="form-group">
                                    <label>Percent(%)</label>
                                    <select class="input-large form-control" name="Percent" id="Percent">
                                        <option value="0">--Select Percent-- </option>
                                        @{  
                                            var count = (int)ViewData["count"];
                                            for (int i = 1; i <= count; i++)
                                           {
                                               if (Model.Percentage == i) { 
                                               <option value="@i" selected="selected">@i</option>
                                               }
                                               else { 
                                                <option value="@i">@i</option>   
                                               }
                                            
                                         }}

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label></label>
                                    <button class="btn btn-primary" type="submit" style="float:right;">Save</button>


                                </div>

                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


