﻿@{
    ViewBag.Title = "Detail of Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model List<BackOffices.Models.OutComes>
@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href=""></a><i class="fa fa-home"></i></li>
               @{ if (ViewBag.PageNum != null) { 
                <li><a href="/CoursePerYear/ManageCPYList?PageNum=@ViewBag.PageNum">List of Course Per Years</a></li>
                  }
                  else { 
                  <li><a href="/CPY_Student/Manage_CPY_Student/@ViewBag.StudentID">Course of student</a></li>
                  }
                   }
                <li class="active"> @ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>Plan
                <a id="add-row" href="@Url.Action("Show", "Report",new { CPY_ID=ViewBag.PageNum})" class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-plus"></i>See Report</a>
            </div>
            <div class="widget-content padded">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td class="info" colspan="2"><h4 style="text-align:center;font-weight:600;text-transform:uppercase">Course Manage</h4></td>
                        </tr>
                       @{
                           var cpy = (BackOffices.Models.CPY)ViewData["cpy"];
                        <tr>
                            <td width="20%">Academic session</td>
                            <td>@cpy.Year</td>
                        </tr>
                        <tr>
                            <td width ="20%">Course code </td>
                            <td>@cpy.CPY_Code</td>
                        </tr>
                            <tr>
                            <td width ="20%">Title</td>
                            <td>@cpy.CourseName</td>
                        </tr>
                        <tr>
                            <td width="20%">Course Leader</td>
                            <td>@cpy.CL_Name</td>
                        </tr>
                        <tr>
                            <td width="20%">Student count</td>
                            <td>@ViewBag.CountStudent</td>
                        </tr>
                            }
                    </table>
                </div>
                
                <div class="table-responsive">
                    @{if (Model != null)
                    {
                        int num = 1;
                       
                        <div class="table-responsive">
                            <table class="table table-hover" id="table-roles">
                                <thead>
                                    <tr>
                                        <td class="info" colspan="7"><h5 style="font-weight:600;">Statistical Data</h5></td>

                                    </tr>
                                    <tr>

                                        @foreach (var item in Model)
                                        {
                                            <th><strong>@item.OutCome_Name</strong></th>
                                        }
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>@num</td>
                                            <td>@item.OutCome_Name</td>
                                            <td>@item.Percent</td>

                                            <td style="text-align:right;">
                                                <a class="edit-row btn btn-primary" href="@Url.Action("ManageTranscipt", "Transcript", new { id = item.ID })"><i class=" fa fa-plus"></i>Mark</a>

                                                <a class="edit-row btn btn-primary" href="@Url.Action("GotoUpdate", "OutCome", new { id = item.ID })"><i class=" fa fa-edit"></i>Edit</a>
                                                <a class="delete-row btn btn-danger" href="@Url.Action("Delete", "OutCome", new { id = item.ID })"><i class="fa fa-trash-o"></i>Delete</a>

                                            </td>
                                        </tr>
                                        num++;
                                    }


                                </tbody>

                            </table>
                            @{var all = (int)ViewData["count"] ;
                                    int count = all;
                                    if (count == 100) { }
                                    else { 
                            <a id="add-row" href="@Url.Action("AddNew", "OutCome", new { id =cpy.ID })" class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-plus"></i>Add Test</a>
                            }
                            }
                        </div>
                        
                        
                        
                        
                        <div class="table-responsive">
                            <table class="table table-hover" id="table-roles">
                                <thead>
                                    <tr>
                                        <td class="info" colspan="7"><h5 style="font-weight:600;">Grade Distribution Data</h5></td>

                                    </tr>
                                    <tr>

                                        @foreach (var item in ViewBag.DistributionFieldGrade)
                                        {
                                            <th><strong>@item</strong></th>
                                        }
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>@item.OutCome_Name</td>
                                            <td>@item.DistributionGrade["0-9"]</td>
                                            <td>@item.DistributionGrade["10-19"]</td>
                                            <td>@item.DistributionGrade["20-29"]</td>
                                            <td>@item.DistributionGrade["30-39"]</td>
                                            <td>@item.DistributionGrade["40-49"]</td>
                                            <td>@item.DistributionGrade["50-59"]</td>
                                            <td>@item.DistributionGrade["60-69"]</td>
                                            <td>@item.DistributionGrade["70-79"]</td>
                                            <td>@item.DistributionGrade["80-89"]</td>
                                            <td>@item.DistributionGrade["90+"]</td>
                                        </tr>
                                        num++;
                                    }
                                    @*<tr>
                                        <td>OVERALL</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>*@


                                </tbody>

                            </table>
                          </div>
                        
                        <div class="table-responsive">
                            <table class="table table-hover" id="table-roles">
                                <thead>
                                    <tr>
                                        <td class="info" colspan="7"><h5 style="font-weight:600;">Comments</h5></td>

                                    </tr>
                                  
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <form action="/OutCome/WriteComment" class="mws-form" method="post" enctype="multipart/form-data">
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>WRITING COMMENT</label>
                                                                <textarea id="txtWriteComment" class="form-control" name="txtWriteComment" rows="5" cols="30"></textarea>



                                                            </div>
                                                            <div class="form-group">
                                                                <label></label>
                                                                <button class="btn btn-primary" type="submit" style="float:right;">SUBMIT</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    }
                      @*else if(Model == null) {
                         <div> No Data</div>
                      
                      }*@
                    }

                </div>
            </div>  
        </div>
    </div>
</div>
