﻿@{
    ViewBag.Title = "Student Join in Course ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li><a href="/Student">List of Student</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>Add Course
            </div>
            <div class="widget-content padded">
                <form action="~/CPY_Student/AddCPY_Student" class="mws-form" id="form-fal" method="post" novalidate="novalidate">
                    <input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="ID" name="ID" type="hidden" value="0" />                    
                        <fieldset>

                            <div class="row">
                                <div class="col-md-12">


                                    <div class="form-group">
                                        <input type="hidden" name="studentid" id="studentid" value="@ViewBag.Student_ID">
                                        <select class="input-large form-control" name="CPY" id="CPY" >
                                            @*<option value="0">--Select course-- </option>*@

                                            @{ foreach (var a in ViewData["a"] as List<BackOffices.Models.CPY_Students>)
                                             {
                                                <option value="@a.CPY_ID">@a.CPY_Code + @a.CPY_Name</option>
                                             }}

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label></label>
                                        <button class="btn btn-primary" type="submit" style="float:right;">Save</button>


                                    </div>

                                </div>
                            </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</div>
