﻿@{
    ViewBag.Title = "Course of student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<BackOffices.Models.CPY_Students>
@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                
                <li><a href="/Student/ManageStudentList?PageNum=@ViewBag.Num">List of Student</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>Student's Course
            </div>
            <div class="widget-content padded">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td class="info" colspan="2"><h4 style="text-align:center;font-weight:600;text-transform:uppercase">Student Manage</h4></td>
                        </tr>
                        @{
                            var student = (BackOffices.Models.Students)ViewData["student"];
                            <tr>
                                <td width="20%">Student's Name</td>
                                <td>@student.StudentName</td>
                            </tr>
                            <tr>
                                <td width="20%">Date Of Birth</td>
                                <td>@student.DOB</td>
                            </tr>
                            <tr>
                                <td width="20%">Phone Number</td>
                                <td>@student.Phone_No</td>
                            </tr>
                            <tr>
                                <td width="20%">Address</td>
                                <td>@student.Address</td>
                            </tr>
                            <tr>
                                <td width="20%">Email</td>
                                <td>@student.Email</td>
                            </tr>
                        }
                    </table>
                </div>

                <div class="table-responsive">
                    @{if (Model != null)
                    {
                        int num = 1;

                        <div class="table-responsive">
                            <table class="table table-hover" id="table-roles">
                                <thead>
                                    <tr>
                                        <td class="info" colspan="7"><h5 style="font-weight:600;">All Courses Of Student</h5></td>

                                    </tr>
                                    <tr>
                                        <th><strong>Num</strong></th>
                                        <th><strong>Course's Name</strong></th>
                                        <th><strong>Course's Code</strong></th>
                                        <th><strong>Year</strong></th>
                                        


                                    </tr>
                                </thead>
                                <tbody id="tblcpy_stu">
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>@num</td>
                                            <td>@item.CPY_Name</td>
                                            <td>@item.CPY_Code</td>
                                            <td>@item.Year</td>
                                    
                                            <td style="text-align:right;">
                                            @*@{

                                        
                                        var cpy_stu = new BackOffices.Dal.CPY_Student();
                                        var list_cpy_stu =ViewData["liststuid"] as List<BackOffices.Dal.CPY_Student>;
                                        //int count = list_cpy_stu.Count;
                                        if (list_cpy_stu == null)
                                        {
                                            <a class="edit-row btn btn-primary" href="@Url.Action("AddCourse", "CPY_Student", new { Student_ID = student.Student_ID, CPY_ID = item.CPY_ID })"><i class=" fa fa-plus"></i>join</a>

                                        }
                                        else
                                        {
                                            foreach (var a in list_cpy_stu)
                                            {

                                                if (a.CoursePerYear_ID == item.CPY_ID)
                                                {
                                                       <a class="delete-row btn btn-danger" href="@Url.Action("RemoveCourse", "CPY_Student", new { Student_ID = student.Student_ID, CPY_ID=item.CPY_ID })"><i class="fa fa-trash-o"></i>Disjoin</a>
                                                    //break;
                                                    
                                                }
                                                cpy_stu = a;
                                            }
                                            list_cpy_stu.Remove(cpy_stu);
                                        }
                                      }*@
                                                <a class="edit-row btn btn-primary" href="@Url.Action("ManageOC", "OutCome", new { id = item.CPY_ID, Student_ID = student.Student_ID})"><i class=" fa fa-plus"></i>View Course</a>
                                                   <a class="delete-row btn btn-danger" href="@Url.Action("RemoveCourse", "CPY_Student", new { Student_ID = student.Student_ID, CPY_Student_ID=item.CPY_Stdent_ID })"><i class="fa fa-trash-o"></i>Remove</a>

                                            </td>
                                        </tr>
                                        num++;
                                    }


                                </tbody>

                            </table>
                                    @{
                                    var all = ViewData["AllCPY_Student"] as List<BackOffices.Models.CPY_Students>;
                                    int count = all.Count;
                                    var part = ViewData["CPY_Student_ByID"] as List<BackOffices.Models.CPY_Students>;
                                    int countpart=part.Count;
                                    if (count == countpart) { }
                                    else {
                            <a id="add-row" href="@Url.Action("AddCPY_Student", "CPY_Student", new { id = student.Student_ID })" class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-plus"></i>Join in course</a>
                                    }
                                    }
                        </div>
                    }
                 
                    }

                </div>
            </div>
        </div>
    </div>
</div>
