﻿@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model List< BackOffices.Models.Report>


    
@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li class="active">Report Page</li>
            </ul>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>Report
                
            </div>
            <div class="widget-content padded">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td class="info" colspan="2"><h4 style="text-align:center;font-weight:600;text-transform:uppercase">Overal Report of students</h4></td>
                        </tr>
                       <tr>
                           
                           <img src="@Url.Action("GetOverralPieChart")" alt="Drawing chart with HTML Helper" />
                       </tr>
                        <tr>

                            <img src="@Url.Action("DrawChart")" alt="Drawing chart with HTML Helper" />
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
