﻿@{
    ViewBag.Title = "Add Mark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript{

    <script type="text/javascript">
        $().ready(function () {
            //var validator = new FormValidator('form-fal', [ {
            //    name: 'Mark',
            //    rules: 'Mark'
            //}, 
            //    {
            //    name: 'minlength',
            //    display: 'min length',
            //    rules: 'min_length[8]'
            //}], function (errors, event) {
            //    if (errors.length > 0) {
            //        // Show the errors
            //    }
            //});
            ////////////////////////////
            jQuery.validator.addMethod("alphanumeric", function (value, element) {
                return this.optional(element) || /^\w+$/i.test(value);
            }, "Letters, numbers, and underscores only please");

            $("#form-fal").validate({
                rules: {
                    ignore: [],

                    Mark: {
                        required: true,
                        max: 100,
                        min:0,
                        alphanumeric: true
                    }
                },
                messages: {
                    Mark: {
                        required: "you not fill name",
                        min: "minimum 0",
                        max: "maximum 100",
                        alphanumeric: " please write integer number!"
                    }

                }

            });
           

        });
    </script>}
@model BackOffices.Dal.Student

@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                <li><a href="/OutCome">List of Mark</a></li>
                <li class="active"> @ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>Add Mark
            </div>
            <div class="widget-content padded">
                <form action="~/Transcript/Add" class="mws-form" id="form-fal" method="post" novalidate="novalidate">
                    <input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="ID" name="ID" type="hidden" value="0" />                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Name Student</label>
                                    @{ var studentid=ViewBag.Student_ID;
                                       var oc_id = ViewBag.OC_ID;
                                       }
                                    <input type="hidden" name="idstudent" id="idstudent" value="@studentid">
                                    <input type="hidden" name="idoc" id="idoc" value="@oc_id">
                                    <input class="form-control required" id="Name" name="Name" type="text" value="@Model.StudentName" readonly />
                                </div>

                                <div class="form-group">
                                    <label>Mark</label>                                    
                                    <input class="form-control required" id="Mark" name="Mark" placeholder="0" type="text" value="" />                                    
                                </div>

                                <div class="form-group">
                                    <label></label>
                                    <button class="btn btn-primary" type="submit" style="float:right;">Save</button>


                                </div>

                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
