﻿@{
    ViewBag.Title = "Mark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<BackOffices.Models.Transcripts>
@section Breadcrumb{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/"></a><i class="fa fa-home"></i></li>
                @{var o = (BackOffices.Models.OutComes)ViewData["oc"];}
                <li><a href="/Transcript/ManageTranscipt/@o.ID">List of Mark</a></li>
                <li class="active"> @ViewBag.Title</li>
            </ul>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading" style="text-transform:uppercase;">
                <i class="fa fa-bars"></i>All Mark
            </div>
            <div class="widget-content padded">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td class="info" colspan="2"><h4 style="text-align:center;font-weight:600;text-transform:uppercase">Mark Manage</h4></td>
                        </tr>
                        @{
                            var oc = (BackOffices.Models.OutComes)ViewData["oc"];
                            <tr>
                                <td width="20%">Test Name</td>
                                <td>@oc.OutCome_Name</td>
                            </tr>
                            <tr>
                                <td width="20%">PerCent(%) </td>
                                <td>@oc.Percent</td>
                            </tr>

                        }
                    </table>
                </div>

                <div class="table-responsive">
                    @{if (Model!= null)
                    {
                        int num = 1;
                        <table class="table table-hover" id="table-roles">
                            <thead>
                                <tr>
                                    <td class="info" colspan="7"><h5 style="font-weight:600;">Mark of All Students</h5></td>
                                </tr>
                                <tr>
                                    <th><strong>Num</strong></th>
                                    <th><strong>Name's Student</strong></th>
                                    <th><strong>Mark</strong></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@num</td>
                                        <td>@item.Student_Name</td>
                                        <td id="@oc.ID">@item.Mark</td>
                                        <td style="text-align:right;">
                                            <a class="edit-row btn btn-primary" href="@Url.Action("Add", "Transcript", new { Student_ID = item.Student_ID,OC_ID=oc.ID })"><i class=" fa fa-edit"></i>Edit</a>
                                        </td>
                                    </tr>
                                    num++;
                                }
                                @foreach (var stu in ViewData["lists"] as IEnumerable<BackOffices.Models.Transcripts>) { 
                                     <tr>
                                        <td>@num</td>
                                        <td>@stu.Student_Name</td>
                                        <td id="@oc.ID">@stu.Mark</td>
                                        <td style="text-align:right;">
                                            <a class="edit-row btn btn-primary" href="@Url.Action("Update", "Transcript", new { Tran_ID = stu.Tran_ID, OC_ID = oc.ID })"><i class=" fa fa-edit"></i>Edit</a>
                                        </td>
                                    </tr>
                                    num++;
                                }
                            </tbody>

                        </table>


                       

                    }




                    }


                </div>

            </div>
        </div>
    </div>
</div>

